In [1]:
#Working with Salary Data to create a Salary Summary by State

In [2]:
import pandas as pd

In [3]:
SalaryDF = pd.read_csv('SalaryDFwithPop.csv')
SalaryDF.drop('Unnamed: 0',inplace=True,axis=1)

In [14]:
SalaryDF.head()

Index(['Occupational Area', 'Typical Annual Salary', 'State', 'County',
       '2022 Population Est'],
      dtype='object')

In [22]:
SalaryDF2 = SalaryDF.where(SalaryDF['Occupational Area'] == 'Computer &amp; Mathematical').dropna(subset = 'Occupational Area')
SalaryDF2.drop_duplicates(subset='State',inplace=True)
SalaryDF2.drop(['County','2022 Population Est'],inplace=True,axis=1)
SalaryDF2['Occupational Area'] = ['Computer & Mathematical' for x in SalaryDF2['Occupational Area']]

In [23]:
SalaryDF2

             Occupational Area Typical Annual Salary           State
2      Computer & Mathematical              $86,938          Alabama
1476   Computer & Mathematical              $87,526           Alaska
1960   Computer & Mathematical              $89,591          Arizona
2290   Computer & Mathematical              $74,686         Arkansas
3940   Computer & Mathematical             $119,872       California
5216   Computer & Mathematical             $103,469         Colorado
6624   Computer & Mathematical              $98,012      Connecticut
6800   Computer & Mathematical             $103,276         Delaware
6866   Computer & Mathematical              $82,133          Florida
8340   Computer & Mathematical              $95,594          Georgia
11772  Computer & Mathematical              $86,114           Hawaii
11860  Computer & Mathematical              $75,349            Idaho
12828  Computer & Mathematical              $97,295         Illinois
15050  Computer & Mathematical              $79,779          Indiana
17074  Computer & Mathematical              $85,033             Iowa
19252  Computer & Mathematical              $78,720           Kansas
21562  Computer & Mathematical              $75,831         Kentucky
24202  Computer & Mathematical              $72,760        Louisiana
25588  Computer & Mathematical              $81,213            Maine
25874  Computer & Mathematical             $109,975         Maryland
26380  Computer & Mathematical             $108,541    Massachusetts
26688  Computer & Mathematical              $97,916        Minnesota
28602  Computer & Mathematical              $69,753      Mississippi
30406  Computer & Mathematical              $84,134         Missouri
32914  Computer & Mathematical              $70,010          Montana
34146  Computer & Mathematical              $83,749         Nebraska
36192  Computer & Mathematical              $79,266           Nevada
36566  Computer & Mathematical              $97,488    New Hampshire
36786  Computer & Mathematical             $107,257       New Jersey
37248  Computer & Mathematical              $79,876       New Mexico
37952  Computer & Mathematical             $102,164         New York
39316  Computer & Mathematical              $94,214   North Carolina
41516  Computer & Mathematical              $73,787     North Dakota
42682  Computer & Mathematical              $87,226             Ohio
44618  Computer & Mathematical              $76,045         Oklahoma
46312  Computer & Mathematical              $94,781           Oregon
47104  Computer & Mathematical              $88,928     Pennsylvania
48578  Computer & Mathematical              $93,101     Rhode Island
48666  Computer & Mathematical              $77,329   South Carolina
49678  Computer & Mathematical              $70,727     South Dakota
51130  Computer & Mathematical              $77,543        Tennessee
53220  Computer & Mathematical              $96,439            Texas
58808  Computer & Mathematical              $84,177             Utah
59446  Computer & Mathematical              $77,671          Vermont
59732  Computer & Mathematical             $110,039         Virginia
62548  Computer & Mathematical             $131,043       Washington
63406  Computer & Mathematical              $70,920    West Virginia
65826  Computer & Mathematical              $83,503        Wisconsin
67410  Computer & Mathematical              $66,672          Wyoming

In [24]:
SalaryDF2.to_csv('ComputerScience.csv')