In [1]:
#creating Wage and Cost Data for county level

In [2]:
import pandas as pd
import numpy as np

In [3]:
CostDF = pd.read_csv('createdassets/CostDF.csv',index_col=0)
WageDF = pd.read_csv('createdassets/WageDF.csv',index_col=0)
CompSci = pd.read_csv('createdassets/ComputerScience.csv',index_col=0)

In [4]:
StateNames = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 
              'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 
              'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
              'Maine', 'Maryland', 'Massachusetts','Michigan', 'Minnesota',
              'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 
              'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina',
              'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
              'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 
              'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 
              'Wisconsin', 'Wyoming']

In [5]:
WageDF

,WageType,1 ADULT - 0,1 ADULT - 1,1 ADULT - 2,1 ADULT - 3,2 ADULTS(1 WORKING) - 0,2 ADULTS(1 WORKING) - 1,2 ADULTS(1 WORKING) - 2,2 ADULTS(1 WORKING) - 3,2 ADULTS(BOTH WORKING) - 0,2 ADULTS(BOTH WORKING) - 1,2 ADULTS(BOTH WORKING) - 2,2 ADULTS(BOTH WORKING) - 3,State,County
0,Living Wage,$16.04,$30.58,$37.60,$48.71,$25.52,$30.31,$35.73,$38.52,$12.76,$17.01,$21.58,$24.83,Alabama,Autauga
1,Poverty Wage,$6.19,$8.38,$10.56,$12.74,$8.38,$10.56,$12.74,$14.92,$4.19,$5.28,$6.37,$7.46,Alabama,Autauga
2,Minimum Wage,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,Alabama,Autauga
0,Living Wage,$16.64,$30.79,$37.91,$49.80,$25.19,$30.41,$35.83,$39.30,$12.60,$17.12,$21.74,$25.38,Alabama,Baldwin
1,Poverty Wage,$6.19,$8.38,$10.56,$12.74,$8.38,$10.56,$12.74,$14.92,$4.19,$5.28,$6.37,$7.46,Alabama,Baldwin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,Poverty Wage,$6.19,$8.38,$10.56,$12.74,$8.38,$10.56,$12.74,$14.92,$4.19,$5.28,$6.37,$7.46,Wyoming,Washakie
2,Minimum Wage,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,Wyoming,Washakie
0,Living Wage,$15.49,$29.92,$37.54,$49.03,$23.55,$28.88,$34.20,$36.84,$11.77,$16.64,$21.51,$25.03,Wyoming,Weston
1,Poverty Wage,$6.19,$8.38,$10.56,$12.74,$8.38,$10.56,$12.74,$14.92,$4.19,$5.28,$6.37,$7.46,Wyoming,Weston
2,Minimum Wage,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,$7.25,Wyoming,Weston

In [6]:
CostSum = CostDF.where(CostDF['CostType'] != 'Required annual income after taxes').dropna(subset='CostType')
CostSum = CostSum.where(CostSum['CostType'] != 'Required annual income before taxes').dropna(subset='CostType')

for column in CostSum.columns:
    if column == 'State':
        continue
    elif column == 'County':
        continue
    elif column == 'CostType':
        continue
    #elif column == 'CountyState':
    #    continue
    else:
        CostSum[column] = CostSum[column].apply(lambda x: x.replace(',',''))
        CostSum[column] = CostSum[column].apply(lambda x: float(x[1:]))
CostSum = CostSum.groupby(['County','State']).sum()
CostSum['Cost Average'] = CostSum.mean(axis=1)
CostSum.drop(['1 ADULT - 0', '1 ADULT - 1', '1 ADULT - 2', '1 ADULT - 3',
       '2 ADULTS(1 WORKING) - 0', '2 ADULTS(1 WORKING) - 1',
       '2 ADULTS(1 WORKING) - 2', '2 ADULTS(1 WORKING) - 3',
       '2 ADULTS(BOTH WORKING) - 0', '2 ADULTS(BOTH WORKING) - 1',
       '2 ADULTS(BOTH WORKING) - 2', '2 ADULTS(BOTH WORKING) - 3'],axis=1,inplace=True)
CostSum.reset_index(inplace=True)
CostSum

         County           State  Cost Average
0     Abbeville  South Carolina  69896.000000
1        Acadia       Louisiana  71543.416667
2      Accomack        Virginia  68493.083333
3           Ada           Idaho  77379.166667
4         Adair            Iowa  74072.666667
...         ...             ...           ...
3110       Yuma         Arizona  71004.000000
3111       Yuma        Colorado  72831.666667
3112     Zapata           Texas  65964.750000
3113     Zavala           Texas  64554.166667
3114    Ziebach    South Dakota  66962.666667

[3115 rows x 3 columns]

In [7]:
WageTarg = WageDF.where(WageDF['WageType'] == 'Living Wage').dropna(subset='WageType')
WageTarg.drop(['WageType'],axis=1,inplace=True)
for column in WageTarg.columns:
    if column == 'State':
        continue
    elif column == 'County':
        continue
    elif column == 'WageType':
        continue
    elif 'BOTH WORKING' in column:
        WageTarg[column] = WageTarg[column].apply(lambda x: float(x[1:]) * 40 * 52 * 2) #wages are halved for these categories
    else:
        WageTarg[column] = WageTarg[column].apply(lambda x: float(x[1:]) * 40 * 52)

WageTarg = WageTarg.groupby(['County','State']).sum()
WageTarg['Living Wage'] = WageTarg.mean(axis=1)       
WageTarg.drop(['1 ADULT - 0', '1 ADULT - 1', '1 ADULT - 2', '1 ADULT - 3',
       '2 ADULTS(1 WORKING) - 0', '2 ADULTS(1 WORKING) - 1',
       '2 ADULTS(1 WORKING) - 2', '2 ADULTS(1 WORKING) - 3',
       '2 ADULTS(BOTH WORKING) - 0', '2 ADULTS(BOTH WORKING) - 1',
       '2 ADULTS(BOTH WORKING) - 2', '2 ADULTS(BOTH WORKING) - 3'],axis=1,inplace=True)
WageTarg.reset_index(inplace=True)
WageTarg

         County           State   Living Wage
0     Abbeville  South Carolina  70023.200000
1        Acadia       Louisiana  71662.933333
2      Accomack        Virginia  68612.266667
3           Ada           Idaho  77506.000000
4         Adair            Iowa  74197.066667
...         ...             ...           ...
3110       Yuma         Arizona  71127.333333
3111       Yuma        Colorado  72952.533333
3112     Zapata           Texas  66086.800000
3113     Zavala           Texas  64675.866667
3114    Ziebach    South Dakota  67090.400000

[3115 rows x 3 columns]

In [8]:
WageTarg['CountyState'] = WageTarg['County'] + WageTarg['State']
CostSum['CountyState'] = CostSum['County'] + CostSum['State']
WageTarg.set_index('CountyState',inplace=True)
CostSum.set_index('CountyState',inplace=True)
CostSum.drop(['County','State'],axis=1,inplace=True)
WageTarg = WageTarg.join(CostSum)
#WageTarg
#CostSum

In [9]:
WageTarg.reset_index(inplace=True)
WageTarg.drop(['CountyState'],axis=1,inplace=True)
WageTarg

         County           State   Living Wage  Cost Average
0     Abbeville  South Carolina  70023.200000  69896.000000
1        Acadia       Louisiana  71662.933333  71543.416667
2      Accomack        Virginia  68612.266667  68493.083333
3           Ada           Idaho  77506.000000  77379.166667
4         Adair            Iowa  74197.066667  74072.666667
...         ...             ...           ...           ...
3110       Yuma         Arizona  71127.333333  71004.000000
3111       Yuma        Colorado  72952.533333  72831.666667
3112     Zapata           Texas  66086.800000  65964.750000
3113     Zavala           Texas  64675.866667  64554.166667
3114    Ziebach    South Dakota  67090.400000  66962.666667

[3115 rows x 4 columns]

In [10]:
def state(x):
    return CompSci.where(CompSci['State'] == x).dropna(subset='State')['Typical Annual Salary'].item()

WageTarg['CompSciSalary'] = [state(x) for x in WageTarg['State']]
WageTarg

         County           State   Living Wage  Cost Average CompSciSalary
0     Abbeville  South Carolina  70023.200000  69896.000000      $77,329
1        Acadia       Louisiana  71662.933333  71543.416667      $72,760
2      Accomack        Virginia  68612.266667  68493.083333     $110,039
3           Ada           Idaho  77506.000000  77379.166667      $75,349
4         Adair            Iowa  74197.066667  74072.666667      $85,033
...         ...             ...           ...           ...           ...
3110       Yuma         Arizona  71127.333333  71004.000000      $89,591
3111       Yuma        Colorado  72952.533333  72831.666667     $103,469
3112     Zapata           Texas  66086.800000  65964.750000      $96,439
3113     Zavala           Texas  64675.866667  64554.166667      $96,439
3114    Ziebach    South Dakota  67090.400000  66962.666667      $70,727

[3115 rows x 5 columns]

In [11]:
WageTarg.to_csv('CountyComp.csv')

In [12]:
WageTarg

         County           State   Living Wage  Cost Average CompSciSalary
0     Abbeville  South Carolina  70023.200000  69896.000000      $77,329
1        Acadia       Louisiana  71662.933333  71543.416667      $72,760
2      Accomack        Virginia  68612.266667  68493.083333     $110,039
3           Ada           Idaho  77506.000000  77379.166667      $75,349
4         Adair            Iowa  74197.066667  74072.666667      $85,033
...         ...             ...           ...           ...           ...
3110       Yuma         Arizona  71127.333333  71004.000000      $89,591
3111       Yuma        Colorado  72952.533333  72831.666667     $103,469
3112     Zapata           Texas  66086.800000  65964.750000      $96,439
3113     Zavala           Texas  64675.866667  64554.166667      $96,439
3114    Ziebach    South Dakota  67090.400000  66962.666667      $70,727

[3115 rows x 5 columns]