In [1]:
'''Code to Read through MIT Living Wage Data'''

'Code to Read through MIT Living Wage Data'

In [2]:
#import statements
import os
from os import listdir
from os.path import isfile, join
import pandas as pd
thisdir = os.getcwd()

In [3]:
StateNames = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 
              'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 
              'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
              'Maine', 'Maryland', 'Massachusetts','Michigan', 'Minnesota',
              'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 
              'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina',
              'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
              'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 
              'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 
              'Wisconsin', 'Wyoming']

In [4]:
#dataframe framework
WageDF = pd.DataFrame(columns = ['WageType','1 ADULT - 0','1 ADULT - 1','1 ADULT - 2','1 ADULT - 3', 
                                '2 ADULTS(1 WORKING) - 0', '2 ADULTS(1 WORKING) - 1', '2 ADULTS(1 WORKING) - 2',
                                 '2 ADULTS(1 WORKING) - 3','2 ADULTS(BOTH WORKING) - 0','2 ADULTS(BOTH WORKING) - 1', 
                                 '2 ADULTS(BOTH WORKING) - 2', '2 ADULTS(BOTH WORKING) - 3', 'State', 'County'])
CostDF = pd.DataFrame(columns = ['WageType','1 ADULT - 0','1 ADULT - 1','1 ADULT - 2','1 ADULT - 3', 
                                '2 ADULTS(1 WORKING) - 0', '2 ADULTS(1 WORKING) - 1', '2 ADULTS(1 WORKING) - 2',
                                 '2 ADULTS(1 WORKING) - 3','2 ADULTS(BOTH WORKING) - 0','2 ADULTS(BOTH WORKING) - 1', 
                                 '2 ADULTS(BOTH WORKING) - 2', '2 ADULTS(BOTH WORKING) - 3', 'State', 'County'])
SalaryDF = pd.DataFrame(columns = ['Occupational Area', 'Typical Annual Salary', 'State', 'County'])

In [5]:
for r, d, f in os.walk(thisdir):
    for drct in d:
        #print(drct)
        for State in StateNames:
            if State in drct:
                #print(os.path.join(r, drct))
                drctry = thisdir + "\\" + 'HTMLTableReader' + "\\" + drct
                #print(drctry)
                for r2, d2, f2 in os.walk(drctry):
                    for file in f2:
                        if '2' in file:
                            columns = ['Occupational Area', 'Typical Annual Salary']
                        else:
                            columns = ['WageType','1 ADULT - 0','1 ADULT - 1','1 ADULT - 2','1 ADULT - 3', 
                                       '2 ADULTS(1 WORKING) - 0', '2 ADULTS(1 WORKING) - 1', '2 ADULTS(1 WORKING) - 2',
                                       '2 ADULTS(1 WORKING) - 3', '2 ADULTS(BOTH WORKING) - 0',
                                       '2 ADULTS(BOTH WORKING) - 1', '2 ADULTS(BOTH WORKING) - 2', 
                                       '2 ADULTS(BOTH WORKING) - 3']
                        df = pd.read_csv(drctry + "\\" + file, header = None, names = columns, index_col=False)
                        df['State'] = State
                        lngth = len(State)
                        lngth2 = -len('Table0.csv')
                        df['County'] = file[lngth:lngth2]
                        if '0' in file:
                            WageDF = pd.concat([WageDF,df])
                        elif '1' in file:
                            CostDF = pd.concat([CostDF,df])
                        else:
                            SalaryDF = pd.concat([SalaryDF,df])
                        #print(df)
                        #break
                        #print(file)
                        #break
                        #print(os.path.join(r2, file))

In [6]:
WageDF.to_csv('WageDF.csv')
CostDF.to_csv('CostDF.csv')
SalaryDF.to_csv('SalaryDF.csv')